<div class="row">
  <div class="col-xs-12">
    <h1>ネタサクとは</h1>
  </div>

    <div class="col-xs-3">
     <%= image_tag asset_path("imagess.png") %>
    </div>
    <div class="col-xs-1">
    </div>

    <div class="col-xs-8">
      <p class="explain">漫才のネタがサクッと１分で出来る。略してネタサク！</p>
      <p class="sub-explain">１　まずは下記のリンクからネタを選択してください！</p>
      <p class="sub-explain">２　ネタに沿って展開があります。展開に沿って、ボケの選択肢が与えられて全て答えると台本が出来ます！</p>
      <p class="sub-explain">３　また、全ユーザーの投稿したネタも見る事が出来ます！</p>
      </p>
    </div>
</div>

<br>
<div class="row" style="margin-top: 20px;">
  <div class="col-xs-12">

    <h2>ネタ選択</h2>
    <h4>下記のリンクからネタを選択しましょう！</h4>
    <br>

  </div>
  <div class="col-xs-12">

    <!-- ofsetは左右の余白 -->
    <table class="table">
      <thead>
        <tr>
          <th>番号</th>
          <th>ネタ</th>
        </tr>
      </thead>

      <tbody>
        <% @genres.each do |genres| %>
        <% if genres.status == true %>

        <tr>
          <td><%= genres.id %></td>
          <td><%= link_to genres.name, joke_tmp_path(genres.id) %></td>
        </tr>

          <% end %>
          <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">

    <h3>漫才をご自身で１から作りたいという方は<%= link_to 'こちら！', new_joke_tmp_path %></h3>

  </div>
</div>
