<div class="row">
  <div class="col-xs-10 col-xs-offset-1">

    <h2>完成ネタ一覧</h2>
    <h4>ここはご自身が作ったネタのみ表示されます！</h4>
    <br>

  </div>

  <br>
    <!-- ofsetは左右の余白 -->
  <% @scripts.each do |script| %>
    <table class="table genre-index">
      <thead>
        <tr>
          <th>ネタ</th>
        </tr>
      </thead>

      <tbody>

          <tr>
            <td><%= link_to script.name, users_script_path(script) %></td>
          </tr>

      </tbody>
    </table>
      <% end %>


</div>
</div>
