<div class="row">
    <div class="col-xs-4">
     <img src="/assets/images.png">
    </div>
    <div class="col-xs-8">
    <div>
      <h2>漫才ネタ作成アプリとは</h2><br>
      <p>オリジナルの漫才のネタが３分で出来る。漫才ネタ作成アプリ。 まず、漫才の題材を決め、その題材に沿って物語の展開があります。その展開に沿って、選択肢が与えられて自分で回答する事も出来、選択肢から答える事も出来ます。それを全て答えると漫才の台本が出来ます。</p><br>
      <p>学園祭や飲み会やクラスの出し物にどうぞ！！！</p>
    </div>
    </div>

</div>
