<div class="row" style="margin-top: 20px;">
  <div class="col-xs-10 col-xs-offset-1 col-xl-10 col-xl-offset-1">
    <p style="font-size: 30px;">マイページ</p>
    <p style="padding-left: 260px;"><%= link_to " 編集する", edit_user_path(current_user), class: "glyphicon glyphicon-pencil btn btn-success" %></p>
  </div>

  <div class="col-xs-10 col-xs-offset-1 col-xl-10 col-xl-offset-1">
    <div style="padding-top:10px;">
      <table class="table table-bordered table-condensed">
        <tr>
          <td class="col-xs-2">氏名</td>
          <td><%= current_user.name %></td>
        </tr>
        <tr>
          <td class="col-xs-2">メールアドレス</td>
          <td><%= current_user.email %></td>
        </tr>
      </table>
        <br>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-10 col-xs-offset-1 col-xl-10 col-xl-offset-1">
    <h3>完成ネタ一覧</h3>
    <h4>ここはご自身が作ったネタのみ表示されます！</h4>
  </div>

  <div class="col-xs-10 col-xs-offset-1 col-xl-10 col-xl-offset-1">
    <!-- ofsetは左右の余白 -->
  <% @joke_books.each do |joke_book| %>
  <% if joke_book.joke != nil %>
    <table class="table genre-index">
      <thead>
        <tr>
          <th>ネタ</th>
        </tr>
      </thead>

      <tbody>
          <tr>
            <td><%= link_to joke_book.name, joke_book_path(joke_book) %></td>
          </tr>
      </tbody>
    </table>
      <% end %>
      <% end %>
  </div>
</div>
