<div class="row">
  <div class="col-xs-12">
    <h2>完成ネタ一覧</h2>
    <h4>ここはご自身が作ったネタのみ表示されます！</h4>
  </div>

  <div class="col-xs-12">
    <!-- ofsetは左右の余白 -->
  <% @joke_books.each do |joke_book| %>
  <% if joke_book.joke != nil %>
    <table class="table genre-index">
      <thead>
        <tr>
          <th>ネタ</th>
        </tr>
      </thead>

      <tbody>
          <tr>
            <td><%= link_to joke_book.name, joke_book_path(joke_book) %></td>
          </tr>
      </tbody>
    </table>
      <% end %>
      <% end %>
  </div>
</div>
