<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
      <h2>会員情報詳細</h2><br>
  </div>
</div>

<div class="row">
	<div class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1">
        <table class="table">

            <tr>
              <th>顧客ID</th>
              <td><%= @user.id %>
              <% if @user.is_users_status == true %>
              <span class="label label-primary">
                有効会員
              </span>
              <% else %>
              <span class="label label-danger">
                退会済み
              </span>
              <% end %>
              </td>
            </tr>

            <tr>
              <th>氏名</th>
              <td><%= @user.name %></td>
            </tr>
            <tr>
              <th>メールアドレス</th>
              <td><%= @user.email %></td>
            </tr>
        </table>

          <%= link_to "編集する", edit_admins_user_path(@user), class: "btn btn-success" %>
  </div>
</div>
