
<div class="row" style="margin-top: 20px;">
  <div class="col-xs-10 col-xs-offset-1">

    <h2>設定選択</h2>
    <h4>下記のリンクから設定を選択しましょう！</h4>
    <br>

  </div>
  <div class="col-xs-10 col-xs-offset-1">

    <!-- ofsetは左右の余白 -->
    <table class="table">
      <thead>
        <tr>
          <th>ジャンル</th>
          <th>設定</th>
        </tr>
      </thead>

      <tbody>
        <% @genres.each do |genres| %>
        <% if genres.status == true %>

        <tr>
          <td><%= genres.category %></td>
          <td><%= link_to genres.name, users_joke_path(genres.id) %></td>
        </tr>

          <% end %>
          <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-xs-10 col-xs-offset-1">

    <h3>漫才をご自身で１から作りたいという方は<%= link_to 'こちら！', new_users_joke_path %></h3>

  </div>
</div>
