

<div class="row">
  <div class="col-xs-10 col-xs-offset-1">

    <h2>題材選択</h2>
    <h4>下記のリンクから題材を選択しましょう！</h4>
    <br>

  </div>

  <br>
    <!-- ofsetは左右の余白 -->
    <table class="table genre-index">
      <thead>
        <tr>
          <th>ジャンル</th>
          <th>題材</th>
        </tr>
      </thead>

      <tbody>
        <% @genres.each do |genres| %>

          <tr>
            <td><%= genres.gen %></td>
            <td><%= link_to genres.name, users_user_boke_tukkomi_path(genres.id) %></td>
          </tr>
          <% end %>

      </tbody>
    </table>


</div>
</div>
