<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <h2>台本編集</h2><br>
  </div>
  <div class="col-xs-10">
      <%= form_with(model:@scripts, url:users_script_path ,method: :PATCH) do |f| %>

        <div class="col-xs-11">
          <%= f.label :台本 %>
          <%= f.text_area :furiboketukkomi, :size => "60x15"%>
        </div>

        <div class="col-xs-1">
        <%= f.submit "変更を保存する" ,class: "btn btn-primary" %>
        </div>
      </div>
  <% end %>

</div>
