<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <h2>台本編集</h2><br>
  </div>
      <%= form_with(model:@scripts, url:users_script_path ,method: :PATCH) do |f| %>

          <%= f.label :台本 %>
          <%#= f.text_area_tag :furiboketukkomi, :size => "80x30", value: @scripts.furiboketukkomi.html_safe %>
<%= text_area_tag 'furiboketukkomi', @scripts.furiboketukkomi.gsub(/<br>/,"\n") ,:size => "80x30" %>

        <%= f.submit "変更を保存する" ,class: "btn btn-primary" %>
  <% end %>

</div>
