<div class="row">
  <div class="col-xs-4">
      <h2></h2><br>

      <br>

  </div>

      <br><br><br><br>
      <div class="col-xs-8">

        <% @userboketukkomis.each do |userboketukkomi| %>

        <p><%= userboketukkomi.boke %></p>
        <p><%= userboketukkomi.tukkomi %></p>

        <% end %>
      </div>

      <br><br>
      <div class="row">
        <div class="col-xs-4">
        </div>


        <div class="col-xs-8">

        </div>
      </div>
</div>
