<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
      <h2></h2><br>


      <% @userboketukkomis.each do |userboketukkomi| %>

      <p><%= userboketukkomi.furi %></p>
      <p><%= userboketukkomi.boke %></p>
      <p><%= userboketukkomi.tukkomi %></p>



　　　　<p align="right"><%= link_to "編集する",
       users_path, class: "btn btn-primary" %></p>
      <% end %>

      <br>

  </div>

      <br><br><br><br>

</div>
