<div class="row">
  <div class="col-xs-10">
      <h2></h2><br>
    <% @scripts.user_boke_tukkomis.each do |userboketukkomi| %>
    <p><%= userboketukkomi.furi %></p>
    <p><%= userboketukkomi.boke %></p>
    <p><%= userboketukkomi.tukkomi %></p>
    <% end %>
      <br>

  </div>

      <br><br><br><br>
      <div class="col-xs-2">
      　<%= link_to "編集する",edit_users_script_path(@scripts), class: "btn btn-primary" %>

      </div>

</div>
